
h1 {
    text-align: center;
}

body {
    background-color: grey;
}

.cadre {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    text-align: center;
    border: 1px;
    border-radius: 200px;
    margin-top: 20vh;
    display: flex;
}

.form {
    margin:auto;
}

input:hover, input:focus{
    background-color:lightgrey;
}

.button:hover {
    background-color:grey;
}
label:hover {
    font-weight: bold;
}

.button {
    min-width: 150px;
    margin-top:5px;
    border-radius: 15px;
    display: inline-block;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
    padding: 5px;
}