body {
    background-image: url("images/fight-fencing-duel.webp");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    margin: 0;
}

main {
    color: bisque;
}

h1 {
    text-align: center;
    color: black;
}

header {
    height: 10vh;
}

footer {
    height: 5vh;
}

.cadre {
    display: flex;
    border: 1px;
}

li {
    color: black;
}

.form {
    /*margin:auto;*/
    margin-left: 5%;
}

input:hover, input:focus{
    background-color:bisque;
}

.button:hover {
    background-color:grey;
}
label:hover {

}

.button {
    min-width: 150px;
    margin-top:5px;
    border-radius: 10px;
    display: inline-block;
    background-color: dimgrey;
    text-decoration: none;
    color: darkred;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
    padding: 5px;
    font-weight: bold;
}