*{
    box-sizing: border-box;
}


.nav {
    width: 220px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 30px;
    right: -200px;
    z-index: 5;
    transition-property: transform;
    transition-duration: 1s;
}

.nav:hover {
    transform: translateX(-200px);
    transition-duration: 0.5s;
}

.nav li {
    border: 1px solid #600 ;
    background: dimgrey ;
    padding-right: 10px;
}

.nav li a {
    display: block ;
    color: #fff ;
    font: 1.5em cursive ;
    line-height: 1.5em ;
    text-align: right ;
    text-decoration: none ;
    padding: 4px 0 ;
}

.nav li:hover, .nav li:focus, .nav li:active {
    background: darkgrey;
}

.intro{
    height: 100vh;
    background-image: url("media/Background.jpg");
    opacity: 0.6;
}

.paraf{
    background-color: #141414;
    height: 92vh;
    color: #cccccc;
    width: 80%;
    text-align: center;
    margin: auto;
}

table td{
    border: 1px solid #600 ;
}

p{
    margin-top: 0px;
}

body {
    background-color: #0F3673;
    margin: auto;
}


.body{
    height: 80vh;
}

.modif{
    transition-delay: 2s;
    transition-duration: 5s;
    transition-property: transform;
    transform: translateY(-150px);
}

.done{
    width: 100%;
    height: 50px;
    background-color: seagreen;
    font-style: bold;
    text-align: center;
    position: absolute;
}

.ancre{
    text-decoration: none;
    list-style: none;
    color: black;
    font-style: bold;
}

.undone{
    width: 100%;
    height: 50px;
    background-color: darkred;
    font-style: bold;
    text-align: center;
}


h1{
    text-align: center;
}

.table{
    max-width: 80vw;
}

a{
    text-decoration: none;
}

.marg{
    margin-top: 5px;
}

.titrerea {
    color: black;
}

.contact{
    height: 60vh;
    width: 10%;
    background-color: #3b393b;
    display: inline-block;
    padding-top: 5%;
    padding-left: 50px;
    color: #cccccc;
    float: left;
    min-width: 200px;
}

.main{
    display: inline-block;
    text-align: center;
    width: 75%;
    clear: both;
    height: 60vh;
    padding-top: 10vh;
}

.titre{
    height: 15vh;
}

.imgacc{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:table-cell;
}

.img{
    max-width: 100%;
    height: auto;
}

.imgrea{
    max-width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearboth{
    clear: both;
}

.citation{
    padding-top: 45vh;
    text-align: center;
    font-size: 3rem;
}

.arrow, .arrow:before{
    position: absolute;
    left: 50%;
}

.arrow{
    width: 40px;
    height: 40px;
    top: 90%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}


.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate(-10px, -10px)
    }

}

#fleche {position: fixed;
    top: 90%;
    right: 2%;
}



